include "./configs/environment.kdl"
include "./configs/input.kdl"
include "./configs/output.kdl"
include "./configs/layout.kdl"
include "./configs/rules.kdl"
include "./configs/animations.kdl"
include "./configs/other.kdl"
include "./configs/keybinds.kdl"
include "./configs/startup.kdl"
include "./configs/cursor.kdl"
