
environment {
    // XDG
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"
    
    // QT
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    
    // Toolkit
    GDK_BACKEND "wayland,x11"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    
    // Firefox
    MOZ_ENABLE_WAYLAND "1"
    DISPLAY ":0"
}
