
layout {
    // Gaps similar to Hyprland config (5px inside, 10px outside)
    gaps 7
    
    center-focused-column "never"
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { proportion 1.0; }
    
    focus-ring {
      off  
      width 1.5
        active-gradient from="#c77dff" to="#4cc9f0" angle=45 relative-to="workspace-view"
        inactive-color "#45475a"
    }

    border {
        off   
        width 1.5
        active-gradient from="#c77dff" to="#4cc9f0" angle=45 relative-to="workspace-view"
        inactive-color "#45475a"
    }
    
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

